@media (min-width: 320px) and (max-width: 768px) {
  .navbar-main {
    display: none;
  }

  .navbar {
    flex-direction: column !important;
    gap: 10px;
    width: 110px !important;
  }

  .navbar-link {
    background-color: transparent !important;
    font-size: 20px;

    color: white !important;
  }
}
